@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@theme {
  --color-dark: #1a1a1a;
  --color-dark-lighter: #2a2a2a;
  --color-primary: #ffffff;
  --font-sans: 'Lato', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  /* gray-600 */
  border-radius: 0.25rem;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-dark);
  color: white;
}